name: MLops CI


on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  e2e_mlops_workflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11.5
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run Data Processing
        run: |
          python src/data/run_processing.py \
            --input data/raw/house_data.csv \
            --output data/processed/cleaned_house_data.csv

      - name: Do Feature Engineering
        run: |
          python src/features/engineer.py \
            --input data/processed/cleaned_house_data.csv \
            --output data/processed/featured_house_data.csv \
            --preprocessor models/trained/preprocessor.pkl
      
      - name: Start MLflow Tracking Server
        run: |
          docker compose -f deployment/mlflow/docker-compose.yaml up -d

      - name: Wait for MLflow to be ready
        run: |
          for i in {1..30}; do
            if curl -sSf http://localhost:5555 > /dev/null; then
              echo "MLflow is ready"
              exit 0
            fi
            echo "Waiting for MLflow... attempt $i/30"
            sleep 2
          done
          echo "MLflow did not become ready in time"
          exit 1

      - name: Train the Model
        run: |
          python src/models/train_model.py \
            --config configs/model_config.yaml \
            --data data/processed/featured_house_data.csv \
            --models-dir models \
            --mlflow-tracking-uri http://localhost:5555
      
      - name: Cleanup MLflow Tracking Server
        run: |
          docker compose -f deployment/mlflow/docker-compose.yaml down

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: wcoolers/fastapi:{{ github.sha }}
          context: .
          file: Dockerfile
